---
import '../styles/global.css';
import Header from '../components/react/Header.jsx';
import Hero from '../components/react/Hero.jsx';
import AboutUs from '../components/react/aboutus.jsx';
import Vision from '../components/react/vision.jsx';
import Services from '../components/react/services1.jsx';
import Packages from '../components/react/packages.jsx';
import StatsTransition from '../components/react/statstransition.jsx';
import Events from '../components/react/events.jsx';
import Footer from '../components/react/footer.jsx';
import ContactModal from '../components/react/ContactModal.jsx';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/WinkBlue.png" />
    <link rel="icon" href="/WinkBlue.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Wink-Consulting</title>
  </head>
  <body>
    <Header client:load />
    <ContactModal client:load />
    <main>
      <section id="home">
        <Hero />
      </section>

      <section id="about" style="scroll-margin-top: 80px;">
        <div id="about-trigger" style="height: 1px; margin-bottom: -1px;"></div>
        <AboutUs client:only="react" />
      </section>

      <Vision
        client:visible
        text={[
          "DEEP",
          { word: "HUMAN", color: "var(--pure-white)" },
          { word: "EXPERTISE", color: "var(--pure-white)" },

          "MAKES",
          { word: "SMART", color: "var(--pure-white)" },
          { word: "CONNECTIONS", color: "var(--pure-white)"}
        ]}
      />

      <section id="services" style="scroll-margin-top: 100px;">
        <Services client:visible />
      </section>

      <Vision
        client:visible
        text={[
          "MEETINGS", "ARE", "DESIGNED", "TO", "CREATE",
          { word: "GROWTH,", color: "var(--pure-white)" },
          { word: "PARTNERSHIPS,", color: "var(--pure-white)" },
          "AND", "LONG-TERM",
          { word: "IMPACT.", color: "var(--pure-white)" }
        ]}
      />

      <section id="packages" style="scroll-margin-top: 100px;">
        <Packages client:visible />
      </section>

      <StatsTransition client:visible />

      <section id="events" style="scroll-margin-top: 100px;">
        <Events client:visible />
      </section>

      <div id="engage"></div>
      <div id="insights"></div>
    </main>
    <Footer client:visible />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }

  section {
    position: relative;
  }
</style>