---
import '../styles/global.css';
---

<section class="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        Design Your Vision <br />
        <span class="highlight">With Precision.</span>
      </h1>
      <p class="hero-description">
        We specialize in creating seamless, high-impact events and digital
        experiences. Elevate your brand with our bespoke service packages.
      </p>
      <div class="hero-buttons">
        <button class="cta-button">Get Started</button>
        <a href="#work" class="secondary-link">View Our Work</a>
      </div>
    </div>
  </div>
</section>

<style>
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem 5rem 4rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-container {
  max-width: 70vw;
  width: 100%;
}


.hero-title {
  font-size: clamp(3rem, 10vw, 6.5rem);
  line-height: 1.25;
  font-weight: 800;
  color: var(--color-text);
  margin-bottom: 2rem;
}

.highlight {
  color: var(--color-text);
}

.hero-description {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  line-height: 1.7;
  color: var(--color-text-secondary);
  max-width: 80%;
  margin: 0 auto 3rem;
}
.hero-buttons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.cta-button {
  background-color: #44cba5;
  color: white;
  border: none;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--border-radius);
  font-weight: 600;
  cursor: pointer;
}

.cta-button:hover {
  background-color: var(--color-primary-hover);
}

.secondary-link {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}

.secondary-link:hover {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }

  .cta-button,
  .secondary-link {
    width: 100%;
  }
}
</style>